.info-item {
  padding-left: 50%;
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0px;
    left: -22px;

    width: 720px;
    height: 696px;

    background-image: url("/img/pose-background.png");
    background-repeat: no-repeat;

    z-index: -100;
  }

  &:nth-child(2) {
    &::after {
      background-image: url("/img/pose2-background.png");
      left: inherit;
      right: -60px;
      top: -150px;
    }
  }

  &:nth-child(3) {
    &::after {
      background-image: url("/img/pose3-background.png");
       height: 750px;
       top: -65px;
    }
  }
}

.info-item__title {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  font-size: 50px;
  line-height: 61px;
  font-weight: 800;
}

.info-item__list {
  .list-reset();

  padding-left: 85px;
}

.info-item__item {
  margin-bottom: 40px;
}

.info-item__description {
  margin: 0;

  color: fade(#000000, 65%);
}

.info-item__item-title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 40px;
  font-weight: 800;
}

.info-item__min-title {
 margin: 0;
 padding: 0;

 font-size: 20px;
 line-height: 40px;
 font-style: oblique;
 color: fade(#000000, 51%);
}

.info-item__item-description {
  margin: 0;
  padding: 0;
  padding-right: 150px;

  color: fade(#000000, 65%);
}

.info-item--left-text {
  padding: 0;
  padding-right: 50%;
}

.info-item__link {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: normal;
  color: #3cbef1;
  text-decoration: none;
  font-style: italic;
}
