.intro__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 50px;
  line-height: 61px;
  color: #111111;
}

.intro__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  line-height: 40px;
}

.intro__menu {
  display: flex;
  flex-direction: row;
}

.intro__button {
  display: block;
  padding: 25px 86px;

  line-height: 36px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #ff6a6d;
  border-radius: 45px;

  &:first-child {
    margin-right: 85px;
  }
}

.intro__button--transparent {
  color: #ff6a6d;

  background-color: transparent;
  border: 2px #ff6a6d solid;
}
